__pycache__/
.idea/
.directory
venv/
geckodriver.log
tinder-swipe-bot.iml

resources/__pycache__/

beauty/model-ldl-resnet.h5
beauty/model_human_face_detector.dat

logs/critical.txt
logs/debug.txt
logs/error.txt
logs/information.txt
logs/warning.txt

gold_matches/
matched_photos/
slipped_profiles/
